form {
  display: flex;
}

.todo-input {
  margin: 0 10px;
  font-size: 20px;
  border: none;
}

.todo-input:focus {
  outline: none;
}

.select-todo {
  font-size: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  background-color: white;
}

.add-todo {
  padding: 4px 0 0 6px;
  cursor: pointer;
  transition: 400ms;
}

.add-todo:hover {
  color: rgb(28, 28, 255);
}