form {
  display: flex;
  min-width: 280px;
  width: 500px;
  margin: 0 auto;
}

.todo-input {
  margin-right: 10px;
  font-size: 20px;
  border: none;
  padding: 0 6px;
  width: 100%;
  color: #81817d;
}

.todo-input:focus {
  outline: none;
}

.select-todo {
  font-size: 20px;
  border: none;
  outline: none;
  color: #81817d;
  border-bottom: 1px solid grey;
  background-color: white;
}

.add-todo {
  cursor: pointer;
  transition: 400ms;
}

.add-todo:hover {
  color: rgb(28, 28, 255);
}

@media (max-width: 600px){
  form {
    width: 350px;
  }
}