.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
  background-color: #fff;
  color: #81817d;
}

section {
  overflow-y: auto;
  padding-top: 25px;
  font-size: 20px;
}

.nightMode {
  background-color: #18191a;
  color: #fff;
}

.nightMode .header {
  background-color: #242526;
  border-color: #393a3b;
}

.nightMode .todo-input {
  background-color: #18191a;
  color: #fff;
}

.nightMode .select-todo {
  background-color: #18191a;
  color: #fff;
}

.nightMode .todo {
  background-color: #333435;
}

.nightMode .input-wrapper input {
  color: #fff;
  background-color: #18191a;
}