.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
  background-color: #fff;
}

.nightMode {
  background-color: #18191a;
}

.nightMode .header {
  background-color: #242526;
  border-color: #393a3b;
}

.nightMode .header h1 {
  color: #fff;
}

section {
  overflow-y: auto;
  padding-top: 25px;
  font-size: 20px;
}

