.todo {
  background-color: #eaeaea;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 0;
  animation-name: animate-todo;
  animation-duration: 400ms;
}

@keyframes animate-todo {
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}
